@page "{handler?}"
@model WebAppCoreProduct.Pages.BasketModel
@{
    
}
@if (BasketModel.Basket?.products is not null)
{
    <ul>
        @foreach (var product in BasketModel.Basket.products)
        {
            <li>Продукт: @product.Name,  цена: @product.Price, цена со скидкой:@product.DiscontPrice</li>
        }
    </ul>
}
<form method="post">
    <label for="name">Название товара</label><br />
    <input type="text" name="name" /><br /><br />
    <input type="submit" asp-page-handler="Remove" value="Удалить товар из корзины" /><br /><br />
</form>
<form method="post">
    <label>
        <input type="radio" name="sender" value="EMail">
        Отправить на E-Mail
    </label>
    <br>
    <label>
        <input type="radio" name="sender" value="Telegram">
        Отправить в Telegram
    </label>
    <br>
    <label>
        <input type="radio" name="sender" value="SMS">
        Отправить SMS
    </label><br /><br />
    <input type="submit" asp-page-handler="Print" value="Oтправить список покупок" />
</form>


<h3>@BasketModel.BasketMessageRezult</h3>

