@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
<div class="col-md-7">
<h3>Расписание тренировок</h3>
        <table class="table-bordered">
 <tr><td><p>Дата проведения</p></td><td><p>Тип тренировки</p></td><td><p>Описание тренировки</p></td><td><p>Тренер</p></td></tr>
            @foreach (var c in ViewBag.Timetables)
{
 <tr><td><p>@c.Date</p></td><td><p>@c.Workout.Type </p></td><td><p>@c.Workout.Description</p></td><td><p>@(c.Coach.LastName + " " + c.Coach.FirstName)</p></td></tr>
}
</table>
<p><a asp-controller="Home" asp-action="CreateBid" asp->Записаться на тренировку &raquo;</a></p>
</div>
</div>
