@model Grad_WebApp.Models.Client_Subscription

@{
    ViewData["Title"] = "Изменить запись об абонементе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<h4>Изменить запись об абонементе</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <select asp-for="SubscriptionId" class="form-control" asp-items="ViewBag.SubscriptionId"></select>
                <span asp-validation-for="SubscriptionId" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostIncludingDiscount" class="control-label"></label>
                <input asp-for="CostIncludingDiscount" class="form-control" />
                <span asp-validation-for="CostIncludingDiscount" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Trainings" class="control-label"></label>
                <input asp-for="Trainings" class="form-control" />
                <span asp-validation-for="Trainings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@idService.Client_Id">К списку абонементов клиента</a>
</div>

