@model Grad_WebApp.Models.Timetable_Client

@{
    ViewData["Title"] = "Записать на тренировку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<h4>Записать на тренировку</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimetableId" class="control-label"></label>
                <select asp-for="TimetableId" class ="form-control" asp-items="ViewBag.TimetableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="СlientId" class="control-label"></label>
                <select asp-for="СlientId" class ="form-control" asp-items="ViewBag.СlientId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Записать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@idService.Client_Id">К списку записей клиента</a>
</div>

