@model WebExamApp.Models.Statement

@{
    ViewData["Title"] = "Создание записи об оценке";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создание записи об оценке студента</h1>

<h4>Запись об оценке</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentsNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="LessonId" class="control-label"></label>
                <select asp-for="LessonId" class="form-control" asp-items="ViewBag.LessonsNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="EvaluationId" class="control-label"></label>
                <select asp-for="EvaluationId" class="form-control" asp-items="ViewBag.EvaluationsNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

